<div class="container">
  <% if bookings.empty? %>
    <% if status == 'pending' %>
      <p>No pending bookings</p>
    <% elsif status == 'deal' %>
      <p>No bookings need to be completed</p>
    <% elsif status == 'history' %>
      <p>No booking history</p>
    <% end %>
  <% end %>
  <% bookings.each do |booking|%>
    <div class="card-trip lb_cards">
      <!-- <img class="lb_img" src="<%= booking.character.photo %>" alt="" style=""> -->
      <%= cl_image_tag(booking.character.photo, class: "lb_img", crop: :thumb, gravity: :face) %>
      <div class="card-trip-infos lb_infos">
        <div id="infos">
          <div class="main_info">
            <h2><%= booking.character.name %></h2>
            <p>Date: <%= booking.date %></p>
            <p>Location: <%= booking.location %></p>
            <p>Comment: <%= booking.comment %></p>
          </div>
          <div class="lb_cnd">
            <% if status == 'pending' %>
              <% if booking.character.user == current_user %>
                <div class="acc_dny_btns">
                  <%= link_to @status[:accept], booking_path(booking,change: @status[:accept]), method: :patch  %>
                  <%= link_to @status[:deny], booking_path(booking,change: @status[:deny]), method: :patch %>
                </div>
              <% else %>
                <p class="book_p">Pending</p><%= link_to @status[:cancel], booking_path(booking,change: @status[:cancel]), method: :patch %>
              <% end %>
            <% elsif  status == 'deal' %>
              <p class="book_p">To be Completed</p> <%= link_to @status[:cancel], booking_path(booking,change: @status[:cancel]), method: :patch %>
            <% else %>
              <p class="book_p"><%= booking.status %></p>
            <% end %>
            <%= link_to "info", booking_path(booking.id) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

