<div class="container">
    <% bookings.each do |booking|%>
      <div class="card-trip lb_cards">
        <img class="lb_img" src="<%= booking.character.photo %>" alt="" style="">
        <div class="card-trip-infos lb_infos">
          <div id="infos">
            <div class="main_info">
              <h2><%= booking.character.name %></h2>
              <p>Date: <%= booking.date %></p>
              <p>Location: <%= booking.location %></p>
              <p>Comment: <%= booking.comment %></p>
            </div>
            <div class="lb_cnd">
              <% if status == 'pending' %>
                <% if booking.character.user == current_user %>
                <div class="acc_dny_btns">
                  <%= link_to "Accept", booking_path(change: 'accept'), method: :patch  %>
                  <%= link_to "Deny", booking_path(change: 'deny'), method: :patch %>
                </div>
                <% else %>
                  <p class="book_p">Pending</p><%= link_to "Cancel", booking_path(change: 'cancel'), method: :patch %>
                <% end %>
              <% elsif  booking.date >= Date.today && status != 'pending'%>
                <p class="book_p">Pending</p> <%= link_to "Cancel", booking_path(change: 'cancel'), method: :patch %>
              <% else %>
                <p class="book_p"><%= booking.status %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
