
<% bookings.each do |booking|%>
  <div class="container d-flex p-2 bg-secondary m-1">
    <img src="<%= booking.character.photo %>" alt="" style="width:50px; height:50px;">
    <div>
      <%= link_to "more info", booking_path(booking.id) %>
      <p>Character: <%= booking.character.name %></p>
      <p>Date: <%= booking.date %></p>
      <p>Location: <%= booking.location %></p>
      <p>Comment: <%= booking.comment %></p>
      <% if status == 'pending' %>
        <% if booking.character.user == current_user %>
          <div class="acc_dny_btns">
            <%= link_to @status[:accept], booking_path(booking,change: @status[:accept]), method: :patch  %>
            <%= link_to @status[:deny], booking_path(booking,change: @status[:deny]), method: :patch %>
          </div>
        <% else %>
          <p class="book_p">Pending</p><%= link_to @status[:cancel], booking_path(booking,change: @status[:cancel]), method: :patch %>
        <% end %>
      <% elsif  status == 'deal' %>
        <p class="book_p">Dealed</p> <%= link_to @status[:cancel], booking_path(booking,change: @status[:cancel]), method: :patch %>
      <% else %>
        <p class="book_p"><%= booking.status %></p>
      <% end %>
     </div>
   </div>
 </div>
<% end %>
