<div class="container">
  <ul>
    <% bookings.each do |booking|%>
      <div class="card-trip">
        <img src="<%= booking.character.photo %>" alt="" style="">
        <div class="card-trip-infos">
          <div id="infos">
            <h2><%= booking.character.name %></h2>
            <p>Date: <%= booking.date %></p>
            <p>Location: <%= booking.location %></p>
            <p>Comment: <%= booking.comment %></p>
            <% if status == 'pending' %>
              <% if booking.character.user == current_user %>
                <div class="acc_dny_btns">
                  <%= link_to @status[:accept], booking_path(booking,change: @status[:accept]), method: :patch  %>
                  <%= link_to @status[:deny], booking_path(booking,change: @status[:deny]), method: :patch %>
                </div>
              <% else %>
                <p class="book_p">Pending</p><%= link_to @status[:cancel], booking_path(booking,change: @status[:cancel]), method: :patch %>
              <% end %>
            <% elsif  status == 'deal' %>
              <p class="book_p">Dealed</p> <%= link_to @status[:cancel], booking_path(booking,change: @status[:cancel]), method: :patch %>
            <% else %>
              <p class="book_p"><%= booking.status %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </ul>
</div>
