<div class="container border mb-5">
  <div class="row"><h2>Your booking on <%= @booking.date %></h2></div>

  <div class="d-flex justify-content-around">
      <div class="card-trip">
        <%= cl_image_tag(@booking.character.photo, width: 300, height: 200, crop: :thumb, gravity: :face) %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to @booking.character.name, character_path(@booking.character) %></h2>
            <p><%= @booking.character.description %></p>
          </div>
          <h2 class="card-trip-pricing">$<%= @booking.character.price %> /per day</h2>
        </div>
    </div>

    <div id="map"
    style="width: 50%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>


