<h1>Characters#index</h1>

<ul>
<% @characters.each do |character| %>
  <%= cl_image_tag character.photo %>
  <li> <%= link_to character.name, character_path(character) %> </li>
  <li><%= character.price %></li>
  <li><%= character.description %></li>
  <li><% if policy(character).destroy?%>
    <%= link_to "delete character", character, method: :delete %>
      <% end %>
    </li>
<% end %>
</ul>
