<div class="container">
  <div class="row">
    <div class="column signin_clm">
      <h1>Create your character</h1>

      <%= simple_form_for(@character) do |f| %>
        <%= f.input :name%>
        <%= f.input :price%>
        <%= f.input :description%>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%#= f.input :tag_list , placeholder: 'tag1, tag2, tag3......'%>
        <%= f.submit "add a character", class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>
