<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>cos.find</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

  </head>
  <body>
    <% if controller.controller_name != 'pages'%>
        <%= render 'shared/navbar' %>
        <div id="flashes">
          <%= render 'shared/flashes' %>
        </div>
    <% end %>
    <div class="content">
      <%= yield %>
    </div>
    <% if controller.controller_name != 'pages'%>
      <div class="footer mt-3 border">
        <div class="footer-links">
          <a href="#" style="font-size:15px">Home</a>
          <a href="#" style="font-size:15px">My Bookings</a>
          <a href="#" style="font-size:15px">My Characters</a>
        </div>
        <div class="footer-copyright">
          This footer is made with <i class="fas fa-heart"></i> by Jordan, Yuji, and JT
        </div>
      </div>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
